# Override GitHub Linguist language detection for FeatureScript
*.fs linguist-language=FeatureScript

# Exclude Python reference script from language statistics
non-featurescript-functions-reference/*.py linguist-vendored
